.xwx-jiui-a {
    width: 100%;
    /*height: 836px;*/
    padding-top: 2px;
    text-align: left;
    /*height: ;*/
}

.xwx-jiui-a h3 {
    text-align: center;

}

.xwx-jiui-a h1 {
    font-size: 78px;
    color: #eb7125;
    text-align: center;

}

.xwx-num1-img, .xwx-num3-img,.xwx-num6-img,.xwx-num8-img,.xwx-num10-img,.xwx-num12-img,.xwx-num14-img{
    padding-top: 20px;
    width: 100%;
    padding-bottom: 25px;

}

.xwx-num2-img, .xwx-num5-img, .xwx-num7-img, .xwx-num9-img, .xwx-num11-img, .xwx-num13-img{
    padding-top: 20px;
    width: 17%;

}

.xwx-jiui-b, .waper{
    width: 100%;
    /*height: 1174px;*/
    /*padding-top: 250px;*/
}

.xwx-jiui-b h3 {
    text-align: left;
    font-size: 30px;
}
.xwx-jiui-c {
    width: 100%;
    /*height: 836px;*/
    padding-top: 2px;
    text-align: left;
    /*height: ;*/
}

.xwx-jiui-c h3, .xwx-jiui-d h3,.xwx-jiui-e h3, .xwx-jiui-f h3,.xwx-jiui-g h3{
    text-align: left;
    font-size: 30px;
    width: 100%;
}

.xwx-jiui-c .text2 span, .xwx-jiui-d .text2 span,.xwx-jiui-e .text2 span,.xwx-jiui-f .text2 span{
    font-weight: bold;
}

.xwx-jiui-c .text2 p, .xwx-jiui-d .text2 p,.xwx-jiui-e .text2 p,.xwx-jiui-f .text2 p,.xwx-jiui-g .text2 p{
    margin-top: 25px;
    font-size: 15px;
}
.xwx-solive-jiui{
    background-color: #f6f6f6;
}
.xwx-white-jiui{
    background-color: #fff;
}